<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<div>
  <h1>
    Песочное печенье на растительном масле
  </h1>
  <p>
    Рассыпчатое, ароматное и очень вкусное песочное печенье на растительном масле -
    прекрасный вариант выпечки из минимального количества ингредиентов буквально за 30 минут!
    За счёт использования подсолнечного масла вместо сливочного себестоимость печенья
    значительно снижается, а вот по вкусу отличия практически незаметны!
  </p>
</div>
<div>
  <img alt="Cookie" src="cookie.jpg">
</div>
<div>

  <div>

    <b>Продукты</b>

  </div>
  <ul>
    <li>Мука пшеничная - 160 г (1 стакан объёмом 250 мл)</li>
    <li>Яйцо - 1 шт.</li>
    <li>Сахар - 60 г</li>
    <li>Масло растительное без запаха - 40 мл</li>
    <li>Разрыхлитель - 1 ч. ложка без горки</li>
    <li>Ванилин - щепотка</li>
    <li>Соль - щепотка</li>
  </ul>
</div>

</body>
</html>