{%  extends 'baze.html' %}
{% block content1 %}
{% load static %}
{{menu}}

    <br>
    {{title|capfirst}}
    <hr>
    {{url}}
    <div>
    <H1> Список Студентов: </H1>
    <ul>
    {% for s in spisok %}
        {% if s.is_published %}
        <li>
            <h2> {{s.title}}</h2>
            <p>{{ s.content }}</p>
            {% if not forloop.last %}
            <p ><a href="{% url 'students2' s.id %}">Смотреть список</a></p>
            <hr>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
    <hr>
    <a href="{% url 'cot' %}">Страницу приложения видно 1</a>
    <hr>
    <a href="{% url 'about' %}">Страницу приложения видно 2</a>
    <hr>
    <a href=test/>Страницу приложения видно 3</a>
    <p>{{ title|add:"2" }}</p>
    <p>{{ title|addslashes }}</p>
    <p>{{ title|capfirst }}</p>
    <p>"{{ title|center:"15" }}"</p>
    <p>{{ title|cut:" " }}</p>
    <p>{{ int|date:"D d M Y"|default:"nothing" }}</p>
<p>{{ value|date:"SHORT_DATE_FORMAT" }}</p>
<p>{{title|dictsort:"name" }}</p>
<p>{{ int|date:"D d M Y" }}</p>
<p>{{ int|date:"D d M Y" }}</p>
<h1> {{title|upper| cut:' ' | cut:'Г'  }}  Все заглавные буквы и удалить пробел и буквы Г</p> </h1>
    <p> {{menu.1|upper}}:Слово Заглавными буквами</p>
    <p> {{float|add:"50"}} : Добавить 50 </p>
    <p> {{value|default:"nothing"}} по Умолчанию Ничего </p>
    <p> {{url}} </p>
    <p> {{dict.key_1}} : Вывод Key1</p>
    <p> {{set|linenumbers}} : список вывода 1. 2. и т.д.</p>
    <p> {{int|floatformat}} : Перевод в float format</p>
    <p> {{list|length}} : Размерность </p>
    <p> {{bool|filesizeformat}}: Формат размера файла</p>
    <p> {{tup|iriencode}} : Перевод в IRI код</p>
    <p > {{obj}} </p>
{% include 'women/includes/nav.html' only  %}
    <ul>{% for p in posts %}
        <li>
            <h2>{{p.F10}}</h2>
            <p>{{p.intresting}}</p>
            <hr>
    </li>
{% endfor %}
</ul>
{% include 'women/includes/nav.html' %}
{% include 'women/includes/includes.html'%} only with pi=3.14

{% endblock %}